/*    
    Full Name: Zapanta, Angel Gabriel
    Section: CS-202
    Activity: Final Website
    Date: 10/08/2025
*/

/*CSS Reset*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body { 
    background-color: #375240;
}

#Hero img {
  display: block;
  margin: auto;
  height: auto;
  min-width: 100vw;
  max-width: 100%;
}

/*Header*/
header {
    position: -webkit-sticky;
    position:   sticky;
    top: 0;
    background-color: #375240;
    height: 8em;
}

header img {
    margin: 1em auto;
    display: block;
    text-align: center;
    max-width: 25%;
}

/*Navigation*/

nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: "Mozilla Headline", sans-serif;
    border-top: 4px double #fff;
}

nav li:first-child{
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 5em;
    text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: #3a523f;
  position: relative;
}

#Testimonies {
  display: none;
}

.topnav h3, .topnav p {
  color: #eeeeee;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


/*Mobile*/

.mobile {
    display:block;
}

.tablet-desktop{
    display: none;
}

.desktop {
    display: none;
}

/*Main*/
main {
    text-align: center;
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size:  1.25em;
    font-family:'Times New Roman', Times, serif;
}

.Description {
    padding-bottom: 3em;
}

/*Footer*/
footer {
  font-size: 0.75em;
  color: #fff;
  text-align: center;
  background-color: #375240;
  border-style: double none;
  border-width: 4px;
  border-color: #fff;
  padding: 1em 0;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

/*HOME*/
.frame {
    position: relative;
    max-width: 40%;
    margin: 2% auto;
}

.frame img {
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.frame:hover {
    opacity: 1;
    box-shadow: 8px 8px 10px #808080;
}

.pic-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width:100%;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.grid {
        display: grid;
        grid-gap: 8px;
        grid-template-rows: repeat(3, 1fr);
        justify-content: stretch;
    }

/*ETIQUETTE*/

#Etiquette p {
    margin-bottom: 1.5em;
} 

.Etiquette {
    margin: 0.2em;
    line-height: 2em;
}

/*FOOD*/

#Food p {
    margin-bottom: 1.5em;
}

.Food {
    margin: 0.2em;
    line-height: 2em;
}

/*FASHION*/
#Fashion p {
    margin-bottom: 1.5em;
}

.Fashion {
    margin: 0.2em;
    line-height: 2em;
}

/*SUMMARY*/

.summary-list {
    margin-bottom: 2em;
    line-height: 2em;
}

/* ============================================== */
/* TABLET VIEW PORT */
@media screen and (min-width: 630px), print {
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: none;
    }

/*HEADER*/
    header {
        position:static;
        padding-bottom: 2%;
    }

/*NAV*/
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;
    }

/*MAIN*/
    main ul {
        margin: 0 0 4% 10%;
    }

    .grid {
        margin-top: 3em;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: stretch;
    }

    /*VIDEOS*/

    iframe {
        width:420px; 
        height:315px;
    }

    /*Summary*/

    table {
        border: 1px solid #000;
        border-collapse: collapse;
        margin: 0 auto 1em auto;
        width: 100%;
    }

    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    th, td {
        border: 1px solid #000;
        padding: 2%;
    }

    th {
        background-color: #375240;
        color: #fff;
        font-size: 1.15em;
    }

    tr:nth-child(odd) {
        background-color: #50443e;
    }

    tr:nth-child(odd) td {
        color:#eeeeee;
    }

    form {
        width: 70%;
        margin: 0 auto;
    }

}

/* ============================================== */
/* DESKTOP VIEW PORT */
@media screen and (min-width: 1015px) {
    .desktop {
        display: block;
    }

/*HEADER*/
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    header img {
    margin: auto;
    padding-top: 1.7em;
    max-width: 25%;
    }

/*NAV*/
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav li a:hover {
        color: #eeeeee;
        background-color: #2E2924;
        opacity: 80%;
        border: 5px solid #50443e;
    }

    nav li a {
        padding: 0.5em 1em;
    }

    #Hero img {
        min-width: 100%;
        height: 20vw;
        object-fit: cover;
        object-position: 0 50%;
    }

/*MAIN*/
    main {
        clear: left;
    }

    main h1 {
        font-size: 1.8em;
    }

}